nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      a.navbar-brand(href='/') Node.js Express Demo
    .collapse.navbar-collapse
      ul.nav.navbar-nav

