# Installed files
node_modules/
public/components/
config/config-keys.coffee
# Build files
public/script/pkg-*.js
public/script/browser
public/script/project
public/script/x-backbone
public/script/x-bookmarks
public/script/client
www-build/
main.sqlite3.db
# Misc. local files
.*sw[pon]
