div.margin-left
  block margin-left

div.margin-right
  block margin-right

div.header
  block header-top

  div(nav-menu)

  block header

div.content
  block content

div.footer
  block footer

  include ../includes/base-footer


