html
  //script(type="text/javascript", src="/script/r-client/dotmpe-x-backbone.js")
  script(data-main="/script/x-backbone/client/main",src="/components/require/build/require.js")

  body
    div dotmpe-x-backbone
    div Index
