div.btn-group
  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
    span Menu 
    span.caret
  ul.dropdown-menu(role='menu')
    li
      a(href='/trojan-cs/#/index') Home
    li.divider
    li
      a(href='/trojan-cs/#/account') Account
    li
      a(href='/trojan-cs/#/post') Post


