doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')

  head
    title Project
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')

    script(type="text/javascript", src='/script/pkg-dotmpe-project.js')

  body

    div.container 


