// Template based on express-seed base view
// for custom elements client.
// 
// XXX this should perhaps shrink a little, or grow into something 
//   to render resources client side
//
//   But a client side router takes over, calling for each 
//   navigation a corresponding layout or view anchor handler.
//   ( this is fragment-based client navigation, there is no transparent backend routing)

extends ../../express-seed/views/layouts/base

block header
  // Test

block wrap_epilogue

  // embed custom element view, and take the excercitation from there
  // there is alreay some layout chrome from base.jade

  // take over docutils-esque layout
  layout-mpe(name="base", type="node-docutils-mpe")
    // set up primary view here to receive routes
    view-mpe(name="base", type="express-seed-client")
      // the -mpe components protoype loads the controller, template and default
      // metadata. The metadata is used for paremetrization of -mpe components.
      // But components can freely mix (compatible) HTML and custom-elements in 
      // templates.
      //
      // So view-mpe subnodes are html, and custom elements. 
      // While metadata applies only to certain custom elements.

  // for now: the primary view receives route. should set up module system,
  // register metadata and custom elements.
  // later: register parametric URLs
  //
  // moving on to building with client.build.js

block footer
  div Test footer

block epilogue
  div Test epilogue

