doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ../includes/head
  body

    .container 

      .header
        p Header

      .contents
      .document
        h1= title
        p This is the home page.

      .footer
        p Footer


