doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ../includes/head
  body

    #wrap

      nav.navbar.navbar-default(role="navigation")
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#main-navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#") Brand

          // Collect the nav links, forms, and other content for toggling
          #main-navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=isActive('/home') ? 'active' : '')
                a(href="/home") Home
              li(class=isActive('/about') ? 'active' : '')
                a(href="/about") About
              li
                a(href="#") Link
              li.dropdown
                a.dropdown-toggle(href="#",data-toggle="dropdown") Dropdown 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#") Action
                  li
                    a(href="#") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li
                    a(href="#") Separated link
                  li.divider
                  li
                    a(href="#") One more separated link
            form.navbar-form.navbar-left(role="search")
              .form-group
                label.sr-only(for='searchbox') Search
                input.form-control(type="text",name="searchbox",placeholder="Search")
              button.btn.btn-default(type="submit") Submit
            ul.nav.navbar-nav.navbar-right
              li
                a(href="#") Link
              li.dropdown
                a.dropdown-toggle(href="#",data-toggle="dropdown") Dropdown 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#") Action
                  li
                    a(href="#") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li
                    a(href="#") Separated link

      .container

        h1= title
        p This is the home page.


    #footer
      .container-fluid
        p.text-muted.credit Footer

