doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')

  include ../includes/head

  block head

  body

    block prologue

    #wrap

      include ../includes/header

      block header

      .container
        .main-content

          include ../includes/messages

          .main-head

            block main

          block content

    #footer
      .container-fluid

        block footer

    block epilogue

