extends ../../express-seed/views/layouts/base

block head
    link(rel="stylesheet", href="/style/node-backbone-todo-example.css")

    script(id="x-bookmark-app", data-main="/script/x-bookmarks/main",
      src=head.js.requirejs)

block main

    h2 Backone+WarehouseJS
    p A standard Backbone MCV setup, using a standardized backend at 
      a(href="/data/locations") /data/locations
      | , leveraged from a SQLite table using WarehouseJS.

    p.text-muted
      div
        span DB Path:
        span= config.database.main.connection.filename

    div#locations
      header
        h3 Locators
        div#new-location
          .form-group
            label Global ID
            input.global_id(type="text",placeholder="")
          .form-group
            label Ref
            input.href(type="text",placeholder="")
      section#main(style="display:none;")
        ul.location-list
      footer(style="display: none;")
        div#location-count

    script(type="text/template",id="item-template")
      | <div class="view">
      |   <code><%- id %></code>
      |   <code><%- global_id %></code>
      |   <div>
      |     <input class="toggle" type="checkbox" 
      |              <%= private ? 'checked="checked"' : '' %> />
      |     <label>Private</label>
      |   </div>
      |   <code><%- href %></code>
      |   <code><%- date_added %></code>
      |   <a class="destroy"></a>
      | </div>
      | 
      | <div class="edit">
      |   <input class="global_id edit" type="text" value="<%- global_id %>" />
      |   <input class="href edit" type="text" value="<%- href %>" />
      | </div>

    script(type="text/template", id="stats-template")
      | <div class="location-count"><b><%= count %></b> <%= count == 1 ? 'item' : 'items' %> </div>

    script(type="text/template", id="lctr-template")
      | <li class="location">
      |    <div><%= model.attributes.global_id %></div>
      |    <code><%= model.attributes.href %></code>
      | </li>

    p.text-muted.credit dotmpe/x-bookmarks

