extends ../layouts/base

block main

  p
    a(href='/modules/') Modules

  if user
    p
      a(href='/users/'+user.attributes.id) View profile.
  else
    p Not logged in.
    p 
      a(href=config.urls.login) Login

block content

  p

block footer

  p.text-muted.credit Express MVC - Admin Index


