extends ../layouts/base

block main

  p 
    a(href='/modules/') Modules

  h3 User

  form.form-horizontal
    .form-group
      label.col-sm-2.control-label ID
      .col-sm-10
        input#provider.form-control(value= user.attributes.id)
    .form-group
      label.col-sm-2.control-label Name
      .col-sm-10
        input#name.form-control(value= user.attributes.name)
    .form-group
      label.col-sm-2.control-label Provider
      .col-sm-10
        input#provider.form-control(value= user.attributes.provider)
    .form-group
      label.col-sm-2.control-label(for="username") Username
      .col-sm-10
        input#username.form-control(value= user.attributes.username)
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Update

block content

  p

block footer

  p.text-muted.credit Express MVC - Admin Index


