extends ../layouts/base

block main

  h1= title
  p This is a Node.JS seed project to build websites using Express.

block content

  p.
    The current code allows to bootstrap a website using metadata
    for controllers, and an extensible view rendering.

  p.
    The seed project is not finished; there are no models, menu needs still work.
    Also the build process needs to be worked out, for better JS and CSS.

block footer

  p.text-muted.credit Express MVC - About

