extends ../../express-seed/views/layouts/base

block prologue


block header

  //script(id="requirejs", data-main=head.js.r_main, src=head.js.requirejs)


block main

  span Custom Element test:

  browser-mpe(atr="test") Test


block content


block footer


block epilogue


