extends ../../express-seed/views/layouts/base


block head
  script(type="text/javascript")
    | window.on_client_seed = function() {
    |   require(['dotmpe/browser/main']);
    | }

block main

  span Custom Element test:

  browser-mpe(atr="test") Test


block footer
  p.text-muted.credit.small Express MVC - Browser

