extends ../../express-seed/views/layouts/base

block prologue

  div(style="border: 1px solid red") Prologue

block header

  div(style="border: 1px solid red") Header

block main

  div(style="border: 1px solid red") Main

block content

  div(style="border: 1px solid red") Content

block footer

  div(style="border: 1px solid red") Footer

block epilogue

  div(style="border: 1px solid red") Epilogue

