doctype xml

rdf:RDF(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#",
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#",
  xmlns:foaf="http://xmlns.com/foaf/0.1/",
  xmlns="http://usefulinc.com/ns/doap#")

  // See https://github.com/edumbill/doap/wiki

  Project
    name Express MVC
    homepage(rdf:resource="http://dotmpe.github.io/")
    created 2015-04-06
    shortdesc(xml:lang="en")
    | TODO

    description(xml:lang="en")
    | TODO

    release
      Version
        name stable
        // created TODO
        revision 0.0.1
  
    //mailing-list(rdf:resource="http://")
    //download-page(rdf:resource="http://")
    //download-mirror(rdf:resource="http://")
  
    maintainer
      foaf:Person
        foaf:name B. van Berkum
        // foaf:mbox_sha1sum TODO
        // rdfs:seeAlso(rdf:resource="http://example.net")
  
    license(rdf:resource="http://spdx.org/licenses/GPL-2.0+")
    license(rdf:resource="http://spdx.org/licenses/LGPL-2.1+")
    license(rdf:resource="http://spdx.org/licenses/MPL-2.0")
  
    // FIXME repository
  
  rdf:Description(rdf:about="")
    foaf:maker
      foaf:Person
        foaf:name B. van Berkum
        foaf:mbox(rdf:resource="mailto:dev@dotmpe.com")
  
